*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */

    }


body {
    background-image: url("assets/body-video.mp4");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url('assets/NL-CC-closed.svg'), auto;	
    }

    a{
      cursor: url("assets/NL-2-open.svg"), pointer;
       }
      
   
/* the main container */

/* a rersponsive grid for mobile*/
/*this code will be used for when the screen size is 1200 pixels or higher (desktop) */

@media screen and (min-width: 1200px) {
 body{
  margin: 0 auto;
 }
.card{
  display: grid;
  width: 40%;
  margin-left:40px;
  margin-top:80px;
}
  }
/* this is the code that will be used when the document is 1200px or less (mobile) */
  @media screen and (max-width: 1200px) {
    body{
     margin: 0 auto;
    }
   .card{
     display: grid;
     width: 70%;
     /* centers the card */
     margin-left:auto;
     margin-right:auto;
     margin-top:30px;
   }
     }

.icon-wrapper{
  width:60%;
  margin: 30px;
  display:grid;
  position: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "a b";
  grid-gap: 30px;
}

h3{
  font-family: 'Spline Sans Mono', monospace;
  margin-bottom: 0px;
  font-size: large;
  font-weight: 700;
  margin-top: 10;
  margin-left: 25;
  white-space: nowrap;
}

h4{
  font-family: 'Spline Sans Mono', monospace;
  margin-top: 0px;
  padding-top: 0px;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  position: center;
  margin-top: 10;
  margin-left: 73;
  white-space: nowrap;
} 

h5{
  font-family: 'Spline Sans Mono', monospace;
  margin-top: 0px;
  padding-top: 0px;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  position: center;
  margin-top: 10px;
  margin-left: 70px;
  white-space: nowrap;
} 

/* svg styling */
.st1{display:inline;}

svg{
  fill:rgb(0, 0, 0);
  
}

#icon-fill{
  fill:none;
}
.svg-interaction:hover{
  fill:rgb(0, 34, 255);
  animation:pulse; 
  animation-duration: 3s;
}


.logo-container{
  /* width: 50%; */
  /* margin-top: 130px; */
  /* margin-left: 240px; */
}
.favicon {
  fill:rgb(0, 34, 255);
}




